#logo{
    float: left;
}
#kensaku{
    float: right;
}
#link{
    float: right;
    display: flex;
    align-items: center;
}
#clear{
    clear: both;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f8f9fa;
}
#link button, #link a {
    margin-left: 10px;
}